In [70]:
import pandas as pd

In [71]:
metadata = pd.read_parquet("../data/raw/music_metadata.parquet")
metadata

,id,title,tag,artist,year,views,features
0,1,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}"
1,3,Can I Live,rap,JAY-Z,1996,468624,{}
2,4,Forgive Me Father,rap,Fabolous,2003,4743,{}
3,5,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}"
4,6,Fly In,rap,Lil Wayne,2005,78271,{}
...,...,...,...,...,...,...,...
5134847,7882838,Everything Is Alright Now,pop,Chuck Bernard,2013,2,{}
5134849,7882840,White Lies,pop,ElementD,2019,1,"{""Harley Bird""}"
5134851,7882842,Ocean,pop,Effemar,2022,3,{}
5134853,7882845,Raise Our Hands,pop,"Culture Code, Pag & Mylo",2016,3,"{Elex,""Culture Code / Pag & Mylo""}"
5134855,7882848,New Number,country,Alana Springsteen,2022,1,{}

In [72]:
len(metadata['id']) == len(set(metadata['id']))

True

In [73]:
set(metadata['year'])

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 31,
 33,
 49,
 62,
 64,
 66,
 69,
 72,
 75,
 79,
 90,
 95,
 99,
 100,
 110,
 112,
 121,
 130,
 144,
 170,
 176,
 190,
 193,
 196,
 205,
 206,
 207,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 226,
 250,
 259,
 270,
 280,
 291,
 293,
 299,
 301,
 343,
 377,
 381,
 397,
 399,
 411,
 413,
 420,
 426,
 428,
 431,
 442,
 466,
 510,
 514,
 524,
 527,
 600,
 615,
 619,
 632,
 666,
 670,
 673,
 699,
 709,
 729,
 769,
 789,
 797,
 799,
 800,
 801,
 868,
 899,
 920,
 934,
 936,
 969,
 971,
 976,
 983,
 994,
 999,
 1000,
 1005,
 1011,
 1017,
 1025,
 1052,
 1059,
 1066,
 1069,
 1078,
 1089,
 1095,
 1097,
 1100,
 1110,
 1118,
 1145,
 1166,
 1187,
 1191,
 1198,
 1200,
 1208,
 1210,
 1213,
 1215,
 1217,
 1219,
 1220,
 1221,
 1223,
 1224,
 1228,
 1240,
 1251,
 1266,
 1270,
 1299,
 1300,
 1308,
 1320,
 1321,
 1337,
 1347,
 1364,
 1380,
 1383,
 1385,
 1386,
 1393,
 1400,
 1404,
 1410,
 1415,
 1420,
 1433,
 1437,
 1461,
 1462,
 1469,
 1475,
 1477,
 1478,
 1482,
 1483,
 1485,
 1489,
 1490,
 1492,
 1499,
 1500,
 1503,
 1516,
 1517,
 1530,
 1531,
 1532,
 1534,
 1536,
 1540,
 1542,
 1546,
 1547,
 1550,
 1551,
 1552,
 1555,
 1558,
 1559,
 1560,
 1562,
 1563,
 1564,
 1566,
 1569,
 1578,
 1580,
 1588,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1614,
 1616,
 1620,
 1621,
 1623,
 1624,
 1625,
 1628,
 1629,
 1630,
 1632,
 1633,
 1634,
 1637,
 1641,
 1642,
 1643,
 1645,
 1647,
 1648,
 1649,
 1650,
 1651,
 1653,
 1657,
 1662,
 1664,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1680,
 1681,
 1682,
 1684,
 1685,
 1686,
 1687,
 1688,
 1689,
 1691,
 1693,
 1695,
 1697,
 1698,
 1700,
 1701,
 1704,
 1709,
 1710,
 1712,
 1714,
 1716,
 1717,
 1718,
 1719,
 1722,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1734,
 1738,
 1739,
 1740,
 1741,
 1742,
 1744,
 1745,
 1746,
 1748,
 1749,
 1750,
 1751,
 1754,
 1755,
 1756,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1769,
 1770,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1782,
 1783,
 1784,
 1785,
 1786,
 1787,
 1788,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1800,
 1801,
 1802,
 1803,
 1804,
 1805,
 1806,
 1807,
 1808,
 1809,
 1810,
 1811,
 1812,
 1813,
 1814,
 1815,
 1816,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1823,
 1824,
 1825,
 1826,
 1827,
 1828,
 1829,
 1830,
 1831,
 1832,
 1833,
 1834,
 1835,
 1836,
 1837,
 1838,
 1839,
 1840,
 1841,
 1842,
 1843,
 1844,
 1845,
 1846,
 1847,
 1848,
 1849,
 1850,
 1851,
 1852,
 1853,
 1854,
 1855,
 1856,
 1857,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1867,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2027,
 2057,
 2100}

In [74]:
metadata = metadata[metadata['views'] > metadata['views'].quantile(0.6)]

In [75]:
for i in range(1, 25):
    metadata.loc[metadata['year'] == i, 'year'] = int(f"200{i}") if i < 10 else int(f"20{i}")

In [76]:
metadata = metadata[metadata['year'] > 1850]

In [77]:
metadata

,id,title,tag,artist,year,views,features
0,1,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}"
1,3,Can I Live,rap,JAY-Z,1996,468624,{}
2,4,Forgive Me Father,rap,Fabolous,2003,4743,{}
3,5,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}"
4,6,Fly In,rap,Lil Wayne,2005,78271,{}
...,...,...,...,...,...,...,...
5134047,7881134,SILVER CP,rap,zavet,2022,209,{â€‹zavet}
5134167,7881409,Greener,pop,FKJ & Santana,2022,281,{}
5134355,7881769,â€‹draw you inside my book,pop,Powfu,2022,346,{}
5134437,7882192,All 4 Nothing Iâ€™m So In Love Lyrics,pop,Lauv,2022,506,{}
5134663,7882366,Wheels Up,pop,BamBam,2022,170,{MAYZiN}

In [78]:
import re

def split_features(s: str):
    s = re.sub(r'\\', '', s)
    words = re.findall(r'\"(.*?)\"', s)
    return words[:3] + [None] * (3 - len(words))

metadata[['feature_1', 'feature_2', 'feature_3']] = metadata['features'].apply(split_features).apply(pd.Series)

In [80]:
metadata = metadata.drop(columns=["features"])
metadata

,id,title,tag,artist,year,views,feature_1,feature_2,feature_3
0,1,Killa Cam,rap,Cam'ron,2004,173166,Cam'ron,Opera Steve,None
1,3,Can I Live,rap,JAY-Z,1996,468624,None,None,None
2,4,Forgive Me Father,rap,Fabolous,2003,4743,None,None,None
3,5,Down and Out,rap,Cam'ron,2004,144404,Cam'ron,Kanye West,Syleena Johnson
4,6,Fly In,rap,Lil Wayne,2005,78271,None,None,None
...,...,...,...,...,...,...,...,...,...
5134047,7881134,SILVER CP,rap,zavet,2022,209,None,None,None
5134167,7881409,Greener,pop,FKJ & Santana,2022,281,None,None,None
5134355,7881769,â€‹draw you inside my book,pop,Powfu,2022,346,None,None,None
5134437,7882192,All 4 Nothing Iâ€™m So In Love Lyrics,pop,Lauv,2022,506,None,None,None
5134663,7882366,Wheels Up,pop,BamBam,2022,170,None,None,None

In [82]:
metadata['total_features'] = metadata.apply(lambda row: sum(pd.notna(row[col]) for col in ['feature_1', 'feature_2', 'feature_3']), axis=1)
metadata

,id,title,tag,artist,year,views,feature_1,feature_2,feature_3,total_features
0,1,Killa Cam,rap,Cam'ron,2004,173166,Cam'ron,Opera Steve,None,2
1,3,Can I Live,rap,JAY-Z,1996,468624,None,None,None,0
2,4,Forgive Me Father,rap,Fabolous,2003,4743,None,None,None,0
3,5,Down and Out,rap,Cam'ron,2004,144404,Cam'ron,Kanye West,Syleena Johnson,3
4,6,Fly In,rap,Lil Wayne,2005,78271,None,None,None,0
...,...,...,...,...,...,...,...,...,...,...
5134047,7881134,SILVER CP,rap,zavet,2022,209,None,None,None,0
5134167,7881409,Greener,pop,FKJ & Santana,2022,281,None,None,None,0
5134355,7881769,â€‹draw you inside my book,pop,Powfu,2022,346,None,None,None,0
5134437,7882192,All 4 Nothing Iâ€™m So In Love Lyrics,pop,Lauv,2022,506,None,None,None,0
5134663,7882366,Wheels Up,pop,BamBam,2022,170,None,None,None,0

In [ ]:
metadata.to_parquet("../data/raw/music_metadata.parquet")

In [84]:
metadata = pd.read_parquet("../data/raw/music_metadata.parquet")

In [ ]:
ids = set(metadata['id'])

In [ ]:
lyrics = metadata.read_parquet("../data/raw/music_lyrics.parquet")